# The required components for compilation

# Required header locations for: jsoncpp 
INCLUDES = 

# Required library locations for: jsoncpp, BLAS, LAPACK, boost unit test,
# OpenMP.
LDFLAGS = -llapack -lcblas -lf77blas -latlas \
    -lgfortran -ljson -lboost_unit_test_framework -fopenmp

# Set the optimizations.  This needs any options for OpenMP.  On GCC, this
# is -fopenmp
CFLAGS= -Wall -g -pedantic -fopenmp

# Compiler
CPP = g++44
